html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background: #6ea4c9;
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #293133;
    color: #fff;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
    width: 40px;
}

.title {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 14rem);
    max-width: min(100vw, 1920px);
    max-height: 100vh;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: fit-content;
    max-width: 1920px;
    background: #293133;
    border-radius: 0.5rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}


.station-modules {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.modul-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem;
    align-items: center;
    height: 2rem;
    width: 8rem;
    background: #448ab7;
    color: #FFFFFF;
    border-radius: 0.5rem;
    user-select: none;
}

.button:hover {
    transition: all 125ms ease-in-out;
    background: #6ea4c9;
}

.modul-selection-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 1rem 0rem;
    height: 396px;
    width: calc(100% - 176px - 1rem); /** 176px = width of modul-buttons-container */
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.5rem;
    background: #fff;
    color: #293133;
}

option {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    background-image: url('../assets/img/add.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
}

option:hover {
    transition: all 125ms ease-in-out;
    background: #6ea4c9;
    color: #fff;
    background-image: url('../assets/img/add_white.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
}


.resources {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.module-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    height: 396px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.5rem;
    background: #fff;
    color: #293133;
}

.details {
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer {
    position: relative;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #293133;
    color: #fff;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}