html, body {
    font-family: 'Verdana';
    margin: 0 auto;
    background: #E4EFF0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #002439;
    color: #E4EFF0;
    margin: 0 auto;
}

.header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
    width: 40px;
}

.title {
    font-size: 1.5rem;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: min(100vw, 1920px);
    max-height: 100vh;
    margin: 0 auto;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 640px;
    max-height: 640px;
    max-width: 1920px;
    background: #002439;
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
}

.box {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.modul-buttons-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 0.5rem;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem;
    align-items: center;
    height: 2.6rem;
    width: 100%;
    background: #4E7988;
    color: #E4EFF0;
    user-select: none;
}

.button:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    color: #005066;
}

.border-radius-top {
    border-top-left-radius: 0.5rem;
}

.border-radius-bottom {
    border-bottom-left-radius: 0.5rem;
}

.highlight {
    background: #78CCE2;
    color: #005066;
}

/* Left container */
.modul-selection-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #E4EFF0;
    border-left: 4px solid #002D40;
}

option {
    transition: all 125ms ease-in-out;
    padding: 0.5rem 1rem;
    color: #002439;
    cursor: pointer;
    background-image: url('../assets/img/add.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
}

option:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    color: #002439;
    background-image: url('../assets/img/add.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem);
}

/* Right container */
.module-info {
    box-sizing: border-box;
    position: relative;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #E4EFF0;
    color: #002439;
    padding: 1rem 1rem;
}

.module-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #002439;
    font-size: 1.5rem;
}

.input-output-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

.inputs {
    display: flex;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dashes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-weight: bold;
    user-select: none;
}

.outputs {
    display: flex;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.module-multiplicator-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.module-multiplicator {
    display: none;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes blinking {
    0% {
        opacity: 1;
        color: rgb(49, 235, 49)
    }
    100% {
        opacity: 1;
        color:#179842
    }
}

/* Middle container */
.module-counter-container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background: #E4EFF0;
    color: #002439;
}

.listed-module {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.listed-module:hover {
    background: #78CCE2;
    color: #002439;
}

.listed-module-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.listed-module-btns {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

/* Slide button below containers and above footer */
.slide-button-container-module {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    z-index: 1;
    color: #005066;
}

.slide-button {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #005066;
    border-radius: 50%;
    background-image: url('../assets/img/up_white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.slide-button:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    background-image: url('../assets/img/up.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.transform-left {
    transform: rotate(270deg);
}

.transform-right {
    transform: rotate(90deg);
}

.slide-button-no-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #005066;
    border-radius: 50%;
    background-image: url('../assets/img/up_white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Station overview Input-Output of all modules */
.station-info {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #E4EFF0;
    color: #002439;
    padding: 1rem 1rem;
}

.slide-button-container-station {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    z-index: 1;
    color: #005066;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #002439;
    margin: 0 auto;
}

.footer-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1920px;
    max-width: 1920px;
    padding-left: 1rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #E4EFF0;
}

a:hover {
    text-decoration: underline;
}

.d-none {
    display: none;
}