html,
body {
    font-family: 'Verdana';
    margin: 0 auto;
    background: #c4c4cb;
    height: 100%;
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #002439;
    color: #E4EFF0;
    margin: 0 auto;
}

.header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
    width: 40px;
}

.title {
    font-size: 1.5rem;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: min(100vw, 1920px);
    max-height: 100vh;
    margin: 0 auto;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72vh;
    max-height: 640px;
    max-width: 1920px;
    background: linear-gradient(90deg, #002D40 0%, #005066 100%);
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
}

.box {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.modul-buttons-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

/** ANIMATED BUTTONS **/

img {
    width: 50px;
}

.scale {
    transition: all 225ms ease-in-out;
    width: 50px;
    position: absolute;
}

.rotate {
    transition: all 500ms ease-in-out;
    width: 30px;
    position: absolute;
}

.move {
    transition: all 500ms ease-in-out;
    width: 30px;
    position: absolute;
}

.smaller {
    width: 22.6px;
}

.button {
    cursor: pointer;
    display: flex;
    padding: 0.5rem 0.5rem;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    width: 56px;
    background: #005066;
    color: #E4EFF0;
    user-select: none;
}

.button:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    color: #005066;
}

.button:hover .scale {
    transition: all 225ms ease-in-out;
    transform: scale(1.1);
}

.button:hover .rotate {
    transition: all 500ms ease-in-out;
    transform: rotate(90deg);
}

.button:hover .move {
    transition: all 500ms ease-in-out;
    transform: translate(5px, -5px);
}

.border-radius-top {
    border-top-left-radius: 0.5rem;
}

.border-radius-bottom {
    border-bottom-left-radius: 0.5rem;
}

.highlight {
    background: #78CCE2;
    color: #005066;
}

/* Left container */
.modul-selection-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(90deg, #002D40 0%, #005066 100%);
    border: 1px solid #FEBE28;
}

.option {
    transition: all 125ms ease-in-out;
    padding: 0.5rem 1rem;
    color: #FEBE28;
    cursor: pointer;
    background-image: url('../assets/img/add.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
}

.option:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    color: #002439;
    background-image: url('../assets/img/add_black.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem);
}

/* Right container */
.module-info {
    box-sizing: border-box;
    position: relative;
    display: none;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #FEBE28;
    padding: 1rem 1rem;

    background: linear-gradient(90deg, #002D40 0%, #005066 100%);
    border: 1px solid #FEBE28;
}

.module-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.input-output-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

.inputs {
    display: flex;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dashes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-weight: bold;
    user-select: none;
}

.outputs {
    display: flex;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.module-multiplicator-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.module-multiplicator {
    display: none;
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes blinking {
    0% {
        opacity: 1;
        color: rgb(49, 235, 49)
    }

    100% {
        opacity: 1;
        color: #179842
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 36, 57, 0.7);
}

.popup-menu {
    box-sizing: border-box;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: white;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    z-index: 2;
}

.popup-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
}

.popup-button {
    display: flex;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background: #005066;
    color: #E4EFF0;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

input {
    box-sizing: border-box;
    width: 85%;
    height: 2.5rem;
    border: 2px solid #005066;
    border-radius: 0.5rem;
    padding-left: 1rem;
    touch-action: manipulation;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none !important;
    border: 2px solid #78CCE2;
    box-shadow: 0 0 10px #78CCE2;
    border-radius: 0.5rem;
}

/* Middle container */
.module-counter-container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: scroll;
    color: #FEBE28;

    background: linear-gradient(270deg, #002D40 0%, #005066 100%);
    border: 1px solid #FEBE28;
}

.listed-module {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.info {
    transition: all 125ms ease-in-out;
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/info_yellow.svg");
    background-repeat: no-repeat;
}

.listed-module:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    color: #002439;
}

.listed-module:hover .info {
    transition: all 125ms ease-in-out;
    background-image: url("../assets/img/info.svg");
}

.listed-module-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.listed-module-btns {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

.delete-yellow {
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/delete_yellow.svg");
    background-repeat: no-repeat;
}

.add-yellow {
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/add_small_yellow.svg");
    background-repeat: no-repeat;
}

.remove-yellow {
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/remove_small_yellow.svg");
    background-repeat: no-repeat;
}

.listed-module:hover .delete-yellow {
    transition: all 125ms ease-in-out;
    background-image: url("../assets/img/delete.svg");
}

.listed-module:hover .add-yellow {
    transition: all 125ms ease-in-out;
    background-image: url("../assets/img/add_small.svg");
}

.listed-module:hover .remove-yellow {
    transition: all 125ms ease-in-out;
    background-image: url("../assets/img/remove_small.svg");
}

.orange {
    color: #FEBE28;
}

/* Slide button below containers and above footer */
.slide-button-container-module {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    color: #FEBE28;
}

.slide-button {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: black;
    border-radius: 50%;
    background-image: url('../assets/img/up_white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.slide-button:hover {
    transition: all 125ms ease-in-out;
    background: #78CCE2;
    background-image: url('../assets/img/up.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.transform-left {
    transform: rotate(270deg);
}

.transform-right {
    transform: rotate(90deg);
}

.info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: black;
    border-radius: 50%;
    background-image: url('../assets/img/up_white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Station overview Input-Output of all modules */
.station-info {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #FEBE28;
    padding: 1rem 1rem;

    background: linear-gradient(90deg, #002D40 0%, #005066 100%);
    border: 1px solid #FEBE28;
}

.station-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-button-container-station {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    color: #FEBE28;
}

.input-deficits {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    flex-direction: row;
    background: #005066;
    color: #E4EFF0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#surplus-right {
    display: flex;
    flex-direction: column;
}

#deficit-left {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #002439;
    margin: 0 auto;
}

.footer-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding-left: 1rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #E4EFF0;
    max-width: 1920px;
    margin: 0 auto;
}

a:hover {
    text-decoration: underline;
}

.d-none {
    display: none;
}

@media screen and (width < 1440px) {
    main {
        position: relative;
        max-width: min(100vw, 1440px);
        height: unset !important;
        max-height: unset !important;
    }

    .main-container {
        flex-direction: column;
        height: unset !important;
        width: min(100%, 800px);
        max-height: fit-content;
        margin: 0 auto;
        border-radius: unset;
    }

    .box {
        margin-top: 0.5rem;
        width: min(100%, 800px);
        height: 480px;
        overflow-y: scroll;
    }

    .modul-selection-container {
        width: 100%;
        background: linear-gradient(180deg, #002D40 0%, #005066 100%);
    }

    .module-counter-container {
        background: linear-gradient(360deg, #002D40 0%, #005066 100%);
    }

    .listed-module-btns {
        display: none;
    }

    .module-info {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background: linear-gradient(180deg, #002D40 0%, #005066 100%);
    }

    .transform-left {
        transform: rotate(0deg);
    }

    .station-info {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .dashes {
        width: 15%;
    }

    .outputs {
        z-index: 2;
    }

    .module-multiplicator {
        z-index: 2;
    }

    footer {
        position: relative;
    }

    .footer-container {
        padding-left: 0;
        width: 90%;
        text-align: center;
    }

    .input-deficits {
        width: min(100%, 480px);
    }
}