body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
    position: relative;
    box-sizing: border-box;
    display: flex;
    max-width: 1440px;
    max-height: 720px;
    flex-direction: column;
    background: #fff;
    margin: 0 auto;
}

.title-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(34, 51, 63, 0.2);
    background: #b3cade;
    z-index: 0;
    overflow: scroll;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #223540;
    width: 600px;
    min-height: 80px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 1;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 1rem;
    background: #448ab7;
    color: #FFFFFF;
}

.button:hover {
    background: #4c595d;
    color: #FFFFFF;
}

.canvas {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    padding: 0.5rem 1rem;
    gap: 0.4rem;
}

.module-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
    background: #448ab7;
    height: 50px;
    border-radius: 1rem;
}

.module-wrap:hover {
    background: #223540;
    color: #FFFFFF;
}

.circle {
    position: relative;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    margin-left: 0.5rem;
    padding: 0.25rem 0.25rem;
    border-radius: 1rem;
}

.row-top {
    display: inline-flex;
}

.row2 {
    display: inline-flex;
    margin-left: 52px;
    margin-top: -32px;
}

.row3 {
    display: inline-flex;
    margin-top: -32px;
}

.station-module {
    height: 110px;
    width: 100px;
    color: #FFFFFF;
    background: #448ab7;
    margin: 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.station-module:hover {
    background-color: #223540;
    color: #FFFFFF;
}

.counter {
    position: relative;
    font-size: larger;
    top: 12%;
    left: 30%;
    border: none;
    background: none;
    color: #FFFFFF;
    width: 35px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.text {
    cursor: default;
    display: flex;
    position: relative;
    font-size: larger;
    top: 12%;
    align-items: center;
    justify-content: center;
}

.add {
    font-size: 24px;
    cursor: pointer;
}

.add:hover {
    color: #FFFFFF;
}

.remove {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.remove:hover {
    color: #FFFFFF;
}

.calculation-container {
    transition: all 1s ease-out;
    position: absolute;
    color: #223540;
    background: #fff;
    right: -100%;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(34, 51, 63, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.calculation-container-transition {
    transition: all 1s ease-out;
    right: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(34, 51, 63, 0.5);
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    gap: 10px;
}

.line {
    height: 2px;
    width: 90%;
    background: #223540;
    margin-bottom: 10px;
}

.canvas-wrap {
    display: flex;
    align-items: center;
}

.canvas3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    gap: 10px;
    column-gap: 50px;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.item {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.end {
    justify-content: space-between;
}

.resource-button {
    position: absolute;
    top: calc(50% - 25px);
    right: 1rem;
    cursor: pointer;
    background: #223540;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem; 
    border-radius: 1rem;
    height: 50px;
}

.resource-button:hover {
    background: #448ab7;
}

.d-none {
    display: none;
}

/** Styles of tiles **/

.Energy {
    background: #cc9b4d;
}

.Wheat {
    background: #919a29;
}

.Food {
    background: #919a29;
}

.Spices {
    background: #919a29;
}

.Water {
    background: #919a29;
}

.Maja {
    background: #919a29;
}

.Meat {
    background: #919a29;
}

.Soja {
    background: #919a29;
}

.SojaHusk {
    background: #919a29;
}

.Sunflower {
    background: #919a29;
}

.Swamp {
    background: #919a29;
}

.Nostrop {
    background: #919a29;
}

.Chelt {
    background: #919a29;
}

.Spices {
    background: #919a29;
}

.Scruffin {
    background: #919a29;
}

.SilWafers {
    background: #946c9a;
}

.RefMetal {
    background: #946c9a;
}

.Graphene {
    background: #946c9a;
}

.SuperCool {
    background: #946c9a;
}

.Hullpart {
    background: #d26887;
}

.Engine {
    background: #d26887;
}

.Weapon {
    background: #d26887;
}

.Shield {
    background: #d26887;
}

.TurretCo {
    background: #d26887;
}

.SmartChi {
    background: #d26887;
}

.DroneCo {
    background: #d26887;
}

.Missile {
    background: #d26887;
}

.HighTech {
    background: #448ab7;
}